--
-- PostgreSQL database dump
--

\restrict lFfyCuYuXG6tMIVtpo8uJarVOocpk4sAcWWxOe096u0vz27368o0R5cg6wwkDkX

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Account" (
    id integer NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO postgres;

--
-- Name: Account_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Account_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Account_id_seq" OWNER TO postgres;

--
-- Name: Account_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Account_id_seq" OWNED BY public."Account".id;


--
-- Name: AppscriptConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AppscriptConfig" (
    id integer NOT NULL,
    "spreadsheetId" text NOT NULL,
    "scriptUrl" text,
    "sheetName" text,
    enabled boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AppscriptConfig" OWNER TO postgres;

--
-- Name: AppscriptConfig_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."AppscriptConfig_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."AppscriptConfig_id_seq" OWNER TO postgres;

--
-- Name: AppscriptConfig_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."AppscriptConfig_id_seq" OWNED BY public."AppscriptConfig".id;


--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "userId" text,
    "actorId" text,
    "actorName" text,
    action text NOT NULL,
    details text,
    ip text,
    meta jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: Directorate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Directorate" (
    id integer NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    description text NOT NULL,
    email text NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Directorate" OWNER TO postgres;

--
-- Name: Directorate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Directorate_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Directorate_id_seq" OWNER TO postgres;

--
-- Name: Directorate_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Directorate_id_seq" OWNED BY public."Directorate".id;


--
-- Name: Entitas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Entitas" (
    id integer NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    description text NOT NULL,
    emails jsonb DEFAULT '{"Head": "", "Admin": "", "Others": "", "Finance": ""}'::jsonb NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "directorateId" integer NOT NULL
);


ALTER TABLE public."Entitas" OWNER TO postgres;

--
-- Name: Entitas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Entitas_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Entitas_id_seq" OWNER TO postgres;

--
-- Name: Entitas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Entitas_id_seq" OWNED BY public."Entitas".id;


--
-- Name: Loans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Loans" (
    id text NOT NULL,
    "submittedAt" timestamp(3) without time zone,
    "isDraft" boolean DEFAULT false NOT NULL,
    "entitasId" text,
    "borrowerPhone" text,
    "borrowerEmail" text,
    "borrowerName" text,
    "needType" text,
    "needDetails" jsonb,
    company text[] DEFAULT ARRAY[]::text[],
    "outDate" timestamp(3) without time zone,
    "useDate" timestamp(3) without time zone,
    "returnDate" timestamp(3) without time zone,
    "productDetailsText" text,
    "pickupMethod" text,
    note text,
    "approvalAgreementFlag" boolean DEFAULT false NOT NULL,
    "submitNotifications" jsonb,
    "approvalNotifications" jsonb,
    approvals jsonb,
    "reminderStatus" jsonb,
    "warehouseStatus" jsonb,
    "returnNotifications" jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "loanStatus" text DEFAULT 'PENDING'::text NOT NULL,
    "userId" text,
    "returnStatus" jsonb,
    "extendNotification" jsonb,
    "extendStatus" jsonb,
    "returnRequest" jsonb,
    "totalDenda" jsonb
);


ALTER TABLE public."Loans" OWNER TO postgres;

--
-- Name: MailSettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MailSettings" (
    id integer NOT NULL,
    smtp jsonb NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MailSettings" OWNER TO postgres;

--
-- Name: MailSettings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."MailSettings_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."MailSettings_id_seq" OWNER TO postgres;

--
-- Name: MailSettings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."MailSettings_id_seq" OWNED BY public."MailSettings".id;


--
-- Name: MktCompany; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MktCompany" (
    id integer NOT NULL,
    value text NOT NULL,
    label text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    emails jsonb NOT NULL,
    description text,
    "userId" text,
    "whId" text
);


ALTER TABLE public."MktCompany" OWNER TO postgres;

--
-- Name: MktCompany_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."MktCompany_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."MktCompany_id_seq" OWNER TO postgres;

--
-- Name: MktCompany_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."MktCompany_id_seq" OWNED BY public."MktCompany".id;


--
-- Name: ReminderRun; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ReminderRun" (
    id integer NOT NULL,
    "ranAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "remindersSent" integer DEFAULT 0 NOT NULL,
    "checkedLoans" integer DEFAULT 0 NOT NULL,
    details jsonb
);


ALTER TABLE public."ReminderRun" OWNER TO postgres;

--
-- Name: ReminderRun_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."ReminderRun_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."ReminderRun_id_seq" OWNER TO postgres;

--
-- Name: ReminderRun_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."ReminderRun_id_seq" OWNED BY public."ReminderRun".id;


--
-- Name: Role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Role" (
    id text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    permissions jsonb NOT NULL
);


ALTER TABLE public."Role" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text NOT NULL,
    roleid text,
    directorateid integer,
    entitasid integer,
    "isActive" boolean DEFAULT true NOT NULL,
    "IsLoggedIn" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    permissions jsonb NOT NULL,
    notification jsonb,
    "passwordResetExpiresAt" timestamp(3) without time zone,
    "passwordResetToken" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VerificationToken" OWNER TO postgres;

--
-- Name: Account id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account" ALTER COLUMN id SET DEFAULT nextval('public."Account_id_seq"'::regclass);


--
-- Name: AppscriptConfig id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AppscriptConfig" ALTER COLUMN id SET DEFAULT nextval('public."AppscriptConfig_id_seq"'::regclass);


--
-- Name: Directorate id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Directorate" ALTER COLUMN id SET DEFAULT nextval('public."Directorate_id_seq"'::regclass);


--
-- Name: Entitas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Entitas" ALTER COLUMN id SET DEFAULT nextval('public."Entitas_id_seq"'::regclass);


--
-- Name: MailSettings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MailSettings" ALTER COLUMN id SET DEFAULT nextval('public."MailSettings_id_seq"'::regclass);


--
-- Name: MktCompany id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MktCompany" ALTER COLUMN id SET DEFAULT nextval('public."MktCompany_id_seq"'::regclass);


--
-- Name: ReminderRun id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReminderRun" ALTER COLUMN id SET DEFAULT nextval('public."ReminderRun_id_seq"'::regclass);


--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: AppscriptConfig; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AppscriptConfig" (id, "spreadsheetId", "scriptUrl", "sheetName", enabled, "createdAt", "updatedAt") FROM stdin;
1	1Nn1LxPKEUpVAsqEolMkaovioXJquRfSxINwWeCjDn2E	https://script.google.com/macros/s/AKfycbz8gpJ_N_tc5KMRn8uGfnw8j3SlkNbPFZci_DXZynjVO5YmKESYTHO29qYD74lMsP1O/exec	Master Request	t	2025-11-26 11:03:54.653	2025-12-16 10:47:22.771
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Directorate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Directorate" (id, name, code, description, email, active) FROM stdin;
1	JD (Joko Budianto)	JD	Operations Directorate		t
2	IA (Indah)	IA	Finance Directorate		t
3	IS (Iwan Setiawan)	IS	Human Resources Directorate		t
4	JY (Jonny)	JY	Information Technology Directorate		t
5	FF (Fuad Firdaus)	FF	Marketing Directorate		t
6	KB (Kodrat Budiadji)	KB	Logistics Directorate		t
\.


--
-- Data for Name: Entitas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Loans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: MailSettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MailSettings" (id, smtp, notes, "createdAt", "updatedAt") FROM stdin;
1	{"host": "portal.indovisual.co.id", "port": 587, "secure": false, "fromName": "Indovisual (Peminjaman Barang) ", "password": "n@6XNCUg~Gh6uXuR", "username": "admin@portal.indovisual.co.id", "fromEmail": "admin@portal.indovisual.co.id"}		2025-11-26 09:15:25.36	2026-01-14 08:23:37.202
\.


--
-- Data for Name: MktCompany; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ReminderRun; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ReminderRun" (id, "ranAt", "remindersSent", "checkedLoans", details) FROM stdin;
\.


--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: VerificationToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."VerificationToken" (identifier, token, expires) FROM stdin;
\.


--
-- Name: Account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Account_id_seq"', 1, false);


--
-- Name: AppscriptConfig_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AppscriptConfig_id_seq"', 1, true);


--
-- Name: Directorate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Directorate_id_seq"', 1, false);


--
-- Name: Entitas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Entitas_id_seq"', 1, false);


--
-- Name: MailSettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."MailSettings_id_seq"', 1, true);


--
-- Name: MktCompany_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."MktCompany_id_seq"', 6, true);


--
-- Name: ReminderRun_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ReminderRun_id_seq"', 1, false);


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: AppscriptConfig AppscriptConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AppscriptConfig"
    ADD CONSTRAINT "AppscriptConfig_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Directorate Directorate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Directorate"
    ADD CONSTRAINT "Directorate_pkey" PRIMARY KEY (id);


--
-- Name: Entitas Entitas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Entitas"
    ADD CONSTRAINT "Entitas_pkey" PRIMARY KEY (id);


--
-- Name: Loans Loans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Loans"
    ADD CONSTRAINT "Loans_pkey" PRIMARY KEY (id);


--
-- Name: MailSettings MailSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MailSettings"
    ADD CONSTRAINT "MailSettings_pkey" PRIMARY KEY (id);


--
-- Name: MktCompany MktCompany_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MktCompany"
    ADD CONSTRAINT "MktCompany_pkey" PRIMARY KEY (id);


--
-- Name: ReminderRun ReminderRun_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReminderRun"
    ADD CONSTRAINT "ReminderRun_pkey" PRIMARY KEY (id);


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Directorate_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Directorate_code_key" ON public."Directorate" USING btree (code);


--
-- Name: Entitas_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Entitas_code_key" ON public."Entitas" USING btree (code);


--
-- Name: MktCompany_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MktCompany_userId_idx" ON public."MktCompany" USING btree ("userId");


--
-- Name: MktCompany_value_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "MktCompany_value_key" ON public."MktCompany" USING btree (value);


--
-- Name: MktCompany_whId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MktCompany_whId_idx" ON public."MktCompany" USING btree ("whId");


--
-- Name: ReminderRun_ranAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ReminderRun_ranAt_idx" ON public."ReminderRun" USING btree ("ranAt");


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AuditLog AuditLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Entitas Entitas_directorateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Entitas"
    ADD CONSTRAINT "Entitas_directorateId_fkey" FOREIGN KEY ("directorateId") REFERENCES public."Directorate"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Loans Loans_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Loans"
    ADD CONSTRAINT "Loans_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MktCompany MktCompany_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MktCompany"
    ADD CONSTRAINT "MktCompany_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MktCompany MktCompany_whId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MktCompany"
    ADD CONSTRAINT "MktCompany_whId_fkey" FOREIGN KEY ("whId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_directorateid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_directorateid_fkey" FOREIGN KEY (directorateid) REFERENCES public."Directorate"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_entitasid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_entitasid_fkey" FOREIGN KEY (entitasid) REFERENCES public."Entitas"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_roleid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_roleid_fkey" FOREIGN KEY (roleid) REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict lFfyCuYuXG6tMIVtpo8uJarVOocpk4sAcWWxOe096u0vz27368o0R5cg6wwkDkX

